{% extends 'basic.html' %}

{% block title %} Contact us {% endblock %}

{% block content %}
<h1>Contact us</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="Name">Name</label><br />
    <input type="text" name="cel" id="cel" placeholder="Enter temparature in celcius"> <br />
    <label for="email">Email </label> <br />
    <input type="email" name="email" id="email" placeholder="Enter a valid email ID">
    <label for="message">Your message</label> <br />
    <textarea name="message" id="" cols="80" rows="10">Put your idea </textarea>
    <button type="submit" value="submit">Send your information</button>
</form>
{% endblock content %}