{% extends 'basic.html' %}
{% load qr_code %}
{% block title %} Qr Code Generator Tool {% endblock %}

{% block content %}
<h1>Qr Code Generator Tool</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="Name">Name</label><br />
    <input type="text" name="name" id="name" placeholder="Enter data for QR Code" value="{{data}}"> <br />
    <input type="submit" value="submit">
</form>
<img src="{% qr_url_from_text data size=8 version=10 image_format='png' %}" alt="{{data}}" />
{% endblock content %}