{% extends 'basic.html' %}

{% block title %} Resize Image Sizes using Python {% endblock %}

{% block content %}
<h1>Resize Images using Python</h1>
<p>Upload your images using the file uploader window and click on upload files button. After uploading it will show you all the images.</p>
<img class="responsive" src ="{{uploaded_file_url}}"  alt =""uploaded images/>
<h2>Define your size</h2>
<form action="{% url 'resize_images_actual' %}" method="POST">
  {% csrf_token %}
  <input type="number" name="width" id="width" value="300">
  <input type="number" name="height" id="height" value="200">
  <input type="hidden" name ="image_path" value ="{{uploaded_file_url}}">
  <input type="hidden" name ="new_path" value ="{{new_path}}">
  <button>Resize Now</button>
</form>
{% endblock content %}
