{% extends 'basic.html' %}

{% block title %} Python Password strength checker Tool {% endblock %}

{% block content %}
<style>
    #progressbar .ui-progressbar-value {
        background-color: rgb(218, 28, 28);
    }
</style>
<div class="tool">
    <h1>Password Strength Checker tool</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="userpassword">Enter Your Password </label>
        <input type="text" name="userpassword" id="userpassword" maxlength="50" placeholder="Enter password to check">
        <p id="button">Check Password Strength</p>
        <div id="progressbar">

        </div>
    </form>
</div>
<div class="extra-information">
    <h2>What is Password Strengthe</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, explicabo quibusdam quam veritatis unde
        accusantium
        asperiores, est voluptatem nemo nihil dolores maxime dolor tempora alias molestiae! Dicta, odit! Officia harum
        assumenda accusantium nemo, fugiat ipsam rem accusamus animi, officiis nostrum molestiae quaerat nihil
        praesentium
        similique necessitatibus reiciendis, delectus vero cumque.</p>
    <h2>Why we need Strong Password</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aut, architecto cum autem, consequatur earum
        commodi
        tenetur, placeat veniam qui iste magni cupiditate aliquam iure obcaecati at corporis sed incidunt iusto
        repudiandae
        eius ipsa omnis. Harum sequi perferendis vitae debitis animi non minus assumenda, similique ducimus dolores,
        iure
        quis repellendus vel, quos corporis commodi culpa maxime. Sapiente excepturi, natus, iste tenetur ut molestiae
        delectus dolore commodi accusamus minima maiores id totam impedit voluptas odit iure cupiditate incidunt numquam
        deserunt pariatur? Dolorum, neque. Adipisci eius voluptatem non blanditiis fugiat! Modi voluptatem voluptas ut,
        provident minima eveniet at mollitia quasi architecto obcaecati.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit odit officia aut asperiores accusamus
        aliquid,
        explicabo iure, dolorum hic quibusdam, ab tenetur facere deleniti ipsum. Sequi ipsum reprehenderit nam debitis
        nisi
        iure necessitatibus dolor ipsa aperiam quibusdam veniam mollitia, doloremque unde optio hic reiciendis rem
        adipisci
        explicabo obcaecati incidunt repudiandae ipsam vero id voluptate? Blanditiis impedit, libero, nostrum
        dignissimos
        debitis eaque deleniti ullam possimus laboriosam nobis odit quas vero tenetur nulla at, quisquam odio soluta cum
        laborum enim non pariatur accusantium fugiat. Voluptates, sit. Magni vero maiores commodi voluptas provident et
        laborum, ullam quaerat ratione. A aut cum ea nisi?</p>
    <h2>How to use Strong Password Generator</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos dolor distinctio perspiciatis a eligendi nobis
        nisi
        eius iure expedita rem ratione officiis quasi praesentium sit dolorum, alias sequi fuga minima eos, accusantium
        assumenda. Sed ducimus esse sunt aut cupiditate, voluptate recusandae dignissimos inventore ipsa adipisci
        repudiandae enim? Qui ut pariatur asperiores nulla tempora voluptatibus reiciendis natus eligendi tenetur
        excepturi
        in ex culpa impedit necessitatibus repudiandae commodi quam dolores sapiente nostrum repellendus molestias,
        facere
        vitae minima. Iusto rem adipisci possimus enim ab. Perspiciatis deserunt harum unde vero maxime cupiditate
        tempora
        et, explicabo, omnis ab labore eaque id dolorem sint possimus animi.</p>
    <h2>Video on How to Check Strong password</h2>
    <div class="video-container">
        <iframe class="responsive-iframe" src="https://www.youtube.com/embed/LaeAiXOc_3Q"></iframe>
    </div>

    <h3>Conclusion</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam obcaecati doloribus eos consequatur non
        corrupti
        tenetur quod dolorum eveniet adipisci, saepe doloremque culpa iure facere rem quas quis sunt est dolore,
        laboriosam
        voluptatem. Eius, praesentium consequatur autem quia reiciendis distinctio.</p>
</div>
{% endblock content %}

{% block script %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    function myFunction() {
        /* Get the text field */
        var copyText = document.getElementById("password");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        alert("Copied the text: " + copyText.value);
    }

    $('#progressbar').progressbar({
        value: 0
    });

    $(function () {
        $('#button').click(function () {
            $('#progressbar').progressbar({
                value: 45
            });
        });
    });
</script>
<script src="https://use.fontawesome.com/0cc80ef660.js"></script>
{% endblock script%}