{% extends 'basic.html' %}

{% block title %} Binary Number into Decimal Number converter Tool {% endblock %}

{% block content %}
<h1>Binary Number into Decimal Number converter</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="binary">Binary Number </label>
    <input type="text" name="binary" id="binary" value="{{binary}}">
    <input type="submit" value="Convert into Decimal Number">
</form>
<p>Your Decimal Number is :{{no}} </p>
{% endblock content %}