{% extends 'basic.html' %}
{% block title %} URL Shortner Python Tool {% endblock %}

{% block content %}
<h1>Short URLs</h1>
<form action="" method="post">
    {% csrf_token %}
    <label for="url">Generate Your own Short URL</label>
    <input type="url" name="url" id="url" placeholder="Enter / Paste  your long URL here">
    <input type="text" name ="custom" id="custom" placeholder="Your shortName">
    <input type="submit" name="submit" value ="Generate Your Short URL">
</form>
{% if urls %}
    {% for u in urls %}
        <p>Original <a href="{{u.original_url}}">{{u.original_url}}</a> And short url <a href="{{u.short_url}}" target="_blank">{{u.short_url}}</a></p>
    {% endfor%}
{% endif %}
{% endblock content %}