{% extends 'basic.html' %}

{% block title %} Domain Age Checking tool {% endblock %}

{% block content %}
<h1>Check Domain Age</h1>
<p>Enter the URL of any domain name in the below box to find out the domain age</p>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="domain">Enter Domain Name</label>
    <!-- <input type="file" name="myFile" onchange="this.form.submit();"> -->
    <input type="text" name="domain" id="domain" multiple> <br />
    <input type="submit" value="Check Domain Age">
</form>

    {{age.year}} Year {{age.month}} month and {{age.day}} days old


{% endblock content %}